body{
   background-image: linear-gradient(270deg, #D8B5FF, #1EAE98);
}
.form{
   margin-left: 39%;
   margin-top: 15%;
}
input{
   background:#8F7595;
}
::placeholder{
   color: #FAFFD8;
}
#email{
   margin-top: 10px;
}
#birthdate{
   margin-top: 10px;
}
#birthinput{
   margin-left: 20px;
}
#password{
   margin-top: 10px;
}
#repassword{
   margin-top: 10px;
}
#area{
   margin-top: 10px;
   width: 362px;
}
#selectarea{
   background: #8F7595;
   width: 362px;

   box-shadow: -2px -2px black;
}
#button{
   margin-top: 10px;
   margin-left: 120px;   
}
#buttonsend{
   background:#8F7595;
}
#buttontext{
   color: #FAFFD8;
}
#password{
   width: 170px;
}
#repassword{
   width: 170px;
}
#firstname:hover{
  background: #725d77;
}
#lastname:hover{
   background: #725d77;
}
#inputemail:hover{
   background: #725d77;
}#birthinput:hover{
   background: #725d77;
}
#password:hover{
   background: #725d77;
}
#repassword:hover{
   background: #725d77;
}
#selectarea::hover{
   background: #725d77;
}
